version: "2.4"

services:
  telegram-me:
    image: ${TELEGRAMME_IMAGE:-koval01/telegram-me}
    container_name: telegram-me
    restart: unless-stopped
    pids_limit: 50
    mem_limit: 256mb
    memswap_limit: 256mb
    user: telegram.me
    security_opt:
      - no-new-privileges
    cap_drop:
      - ALL
    environment:
      - TEST_VAR=0
    ports:
      - "80:80"
