name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install BuildX
      id: buildx
      uses: crazy-max/ghaction-docker-buildx@v1
      with:
        version: latest
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and Push the image
      if: startsWith(github.ref, 'refs/heads/main') && github.actor == 'koval01'
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        docker buildx ls
        docker buildx build --push \
          --tag koval01/telegram-me:latest \
          --platform linux/amd64,linux/arm/v7,linux/arm64 .
